<!DOCTYPE html>
<html>
<head>
</head>

<body>
<div class="container">
  <div><h3>Deeplink test</h3></div>
  <br/>
  <br/>
  <div>
	<a href="https://pkrdeeplinktest.herokuapp.com/item?id=1">Click here to test: https://pkrdeeplinktest.herokuapp.com/item?id=1</a>
	<br/>
	<a href="https://keerthi.com/item?id=2">Click here to test: https://keerthi.com/item?id=2</a>
	<br/>
	<a href="https://proarconline.herokuapp.com">Click here to test: https://proarconline.herokuapp.com</a>
	<br/>
	<a href="https://proarconline.herokuapp.com/item?id=3">Click here to test: https://proarconline.herokuapp.com/item?id=3</a>
	<br/>
	<a href="https://proarconline.herokuapp.com/app">Click here to test: https://proarconline.herokuapp.com/app</a>
	<br/>
	<a href="proarc://not/item?id=1">Click here to test: proarc://not/item?id=1</a>
  </div>  
</div>
</body>
</html>
